<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Favicon -->
    <link rel="icon" type="image/favicon.png" href="img/favicon.png">

    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bizwheel Plugins CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/css/owl-carousel.min.css">
    <link rel="stylesheet" href="~/css/slicknav.min.css">

    <!-- Bizwheel Stylesheet -->
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

</head>
<body id="bg">

    <!-- Boxed Layout -->
    <div id="page" class="site boxed-layout">

        <!-- Preloader -->
        <div class="preeloader">
            <div class="preloader-spinner"></div>
        </div>
        <!--/ End Preloader -->
        <!-- Header -->
        <header class="header">
            <!-- Topbar -->
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <!-- Top Contact -->
                            <div class="top-contact">
                                <div class="single-contact"><i class="fa fa-phone"></i>Phone: +(600) 125-4985-214</div>
                                <div class="single-contact"><i class="fa fa-envelope-open"></i>Email: info@yoursite.com</div>
                                <div class="single-contact"><i class="fa fa-clock-o"></i>Opening: 08AM - 09PM</div>
                            </div>
                            <!-- End Top Contact -->
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="topbar-right">
                                <!-- Social Icons -->
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                                <div class="button">
                                    <a href="contact.html" class="bizwheel-btn">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Topbar -->
            <!-- Middle Header -->
            <div class="middle-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="middle-inner">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-12">
                                        <!-- Logo -->
                                        <div class="logo">
                                            <!-- Image Logo -->
                                            <div class="img-logo">
                                                <a href="index.html">
                                                    <img src="img/logo.png" alt="#">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mobile-nav"></div>
                                    </div>
                                    <div class="col-lg-10 col-md-9 col-12">
                                        <div class="menu-area">
                                            <!-- Main Menu -->
                                            <nav class="navbar navbar-expand-lg">
                                                <div class="navbar-collapse">
                                                    <div class="nav-inner">
                                                        <div class="menu-home-menu-container">
                                                            <!-- Naviagiton -->
                                                            <ul id="nav" class="nav main-menu menu navbar-nav">
                                                                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                                                                {
                                                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                                                }
                                                                <li><a href="services.html"> Our Services</a></li>
                                                                @using (Html.BeginForm("Services", "Home", FormMethod.Get))
                                                                {
                                                                    <li>@Html.ActionLink("Home", " Services", "Home")</li>
                                                                }
                                                                <li><a href="portfolio.html"> Our Portfolio</a></li>
                                                                @using (Html.BeginForm("Portfolio", "Home", FormMethod.Get))
                                                                {
                                                                    <li>@Html.ActionLink("Home", "Portfolio", "Home")</li>
                                                                }
                                                                <li class="icon-active">
                                                                    <a href="#">Blog</a>
                                                                    <ul class="sub-menu">
                                                                        <li><a href="blog.html"> Blog Grid</a></li>
                                                                        <li><a href="blog-single.html"> Blog Single</a></li>
                                                                        @using (Html.BeginForm("Blog", "Home", FormMethod.Get))
                                                                        {
                                                                            <li>@Html.ActionLink("Blog", "Blog", "Home")</li>
                                                                        }
                                                                    </ul>
                                                                </li>
                                                                <li class="icon-active">
                                                                    <a href="#"> Pages</a>
                                                                    @using (Html.BeginForm("Pages", "Home", FormMethod.Get))
                                                                    {
                                                                    <li>@Html.ActionLink("Pages", "Pages", "Home")</li>
                                                                    }
                                                            <ul class="sub-menu">
                                                                <li><a href="about.html">About Us</a></li>
                                                                @using (Html.BeginForm("AboutUs", "Home", FormMethod.Get))
                                                                {
                                                                    <li>@Html.ActionLink("AboutUs", "AboutUs", "Home")</li>
                                                                }
                                                                <li><a href="404.html">404</a></li>
                                                            </ul>
                                                                    </li>
                                                                    <li><a href="contact.html">Contact Us</a></li>
                                                                </ul>
                                                            <!--/ End Naviagiton -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </nav>
                                            <!--/ End Main Menu -->
                                            <!-- Right Bar -->
                                            <div class="right-bar">
                                                <!-- Search Bar -->
                                                <ul class="right-nav">
                                                    <li class="top-search"><a href="#0"><i class="fa fa-search"></i></a></li>
                                                    <li class="bar"><a class="fa fa-bars"></a></li>
                                                </ul>
                                                <!--/ End Search Bar -->
                                                <!-- Search Form -->
                                                <div class="search-top">
                                                    <form action="#" class="search-form" method="get">
                                                        <input type="text" name="s" value="" placeholder="Search here" />
                                                        <button type="submit" id="searchsubmit"><i class="fa fa-search"></i></button>
                                                    </form>
                                                </div>
                                                <!--/ End Search Form -->
                                            </div>
                                            <!--/ End Right Bar -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Middle Header -->
            <!-- Sidebar Popup -->
            <div class="sidebar-popup">
                <div class="cross">
                    <a class="btn"><i class="fa fa-close"></i></a>
                </div>
                <div class="single-content">
                    <h4>About Bizwheel</h4>
                    <p>The main component of a healthy environment for self esteem is that it needs be nurturing. It should provide unconditional warmth.</p>
                    <!-- Social Icons -->
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    { 
                <div class="button">
                    @using (Html.BeginForm("LogOff", "Account",FormMethod.Post))
                    { 
                        
                    <button class="bizwheel-btn">LogOff</button>
                    
                    }
                    </div>

                    }
                    else

                    {
                <div class="button">
                    @using (Html.BeginForm("LogIn", "Account", FormMethod.Get))
                    {
                    <
                    <button class="bizwheel-btn">LogIn</button>
                    }
                </div>
                }
                </div>
                <div class="single-content">
                    <h4>Important Links</h4>
                    <ul class="links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Pricing Plan</a></li>
                        <li><a href="#">Blog & News</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <!--/ Sidebar Popup -->
        </header>
        <!--/ End Header -->

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Isabelle 7763</p>
            </footer>
        </div>

        <!-- Jquery JS -->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery-migrate-3.0.0.js"></script>
        <!-- Popper JS -->
        <script src="~/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- Modernizr JS -->
        <script src="~/js/modernizr.min.js"></script>
        <!-- ScrollUp JS -->
        <script src="~/js/scrollup.js"></script>
        <!-- FacnyBox JS -->
        <script src="~/js/jquery-fancybox.min.js"></script>
        <!-- Cube Portfolio JS -->
        <script src="~/js/cubeportfolio.min.js"></script>
        <!-- Slick Nav JS -->
        <script src="~/js/slicknav.min.js"></script>
        <!-- Slick Nav JS -->
        <script src="~/js/slicknav.min.js"></script>
        <!-- Slick Slider JS -->
        <script src="~/js/owl-carousel.min.js"></script>
        <!-- Easing JS -->
        <script src="~/js/easing.js"></script>
        <!-- Magnipic Popup JS -->
        <script src="~/js/magnific-popup.min.js"></script>
        <!-- Active JS -->
        <script src="~/js/active.js"></script>
</body>
</html>



